<%= render "shared/navbar" %>

<div class="banner">
    <div class="container">
        <h1>Save any kind of movies</h1>
        <a class="btn btn-ghost" href="/lists/new">Create a movie list</a>
    </div>
</div>

<h1>Movie Lists</h1>

<% @lists.each do |list| %>
    <h5><%= link_to list.name, list_path(list) %></h5>
<% end %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
</div>
