<%= render "shared/navbar" %>

<div class="banner">
    <div class="container">
        <h1>Save any kind of movies</h1>
        <a class="btn btn-ghost" href="/lists/new">Create a movie list</a>
    </div>
</div>

<div class="content-box">
    <h1>My Lists</h1>

    <% colors = ["#f86d6fc2", "#515065d4", "#f5700ae8", "#a0616ac0", "#2e2e41e0" ] %>

    <div class="cards">

        <% @lists.each do |list| %>
            <%= link_to list_path(list), class: "list_link" do %>
                <div class="card-category" style="background-color:<%= colors.sample %>;">
                    <%= list.name %>
                </div>
            <% end %>
        <% end %>

    </div>
</div>
