.btn-ghost {
    color: #F56E0A;
    border: 1px solid #F56E0A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
    transition: opacity 0.3s ease;
    background-color: #f5700a1e;
}

.btn-ghost:hover {
    color: #F86D70;
    border: 1px solid #F86D70;
    background-color: #f86d6f26;
}

.btn-ghost-sm {
    color: #F56E0A;
    border: 1px solid #F56E0A;
    padding: 3px 9px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
    transition: opacity 0.3s ease;
    background-color: #f5700a1e;
    text-decoration: none;
    font-size: 12px;
}

.btn-ghost-sm:hover {
    color: #F86D70;
    border: 1px solid #F86D70;
    background-color: #f86d6f26;
}
