.content-box {
    margin: auto;
    width: 1200px;
    h1 {
        text-align: center;
        margin-top: 48px;
        margin-bottom: 24px;
        font-size: 24px;
        border: 1px solid #515065;
        color: #515065;
        padding: 8px 24px;
        border-radius: 50px;
    }
}
